<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title> Jhonouchi PC Club | ホーム</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/allStyle.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyle.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
            $(function()
            {
                $("#attend").click(function()
                {
                    let today = new Date();
    
                    alert(`${today.getFullYear()}/${today.getMonth() + 1}/${today.getDate()} ${today.getHours()}:${today.getMinutes()} 出席しました！`);
                    $.get("/login/home/addDBDate",
                        { "userid": {{ userid }}, "fullYear": today.getFullYear(), "month": today.getMonth() + 1, "date": today.getDate()});
                });
            });
        </script>
    </head>

    
    <body>
        <main>
            <p class="hello"> {{ username }} さん、おかえりなさい。</p>
            <form>
                <input type="button" id="attend" class="attend" value="出席">
            </form>
            <p class="lastDate"> 前回: {{ lastFullYear }}/{{ lastMonth }}/{{ lastDate }} </p>
            
            {% if hasPaidMoney == 0 %}
                <p class="money"> 部費が未払いです!</p>
            {% else %}
                <p class="money"></p>
            {% endif %}

            <a class="linkDiscord" href="https://discord.gg/sjNmsgGR" target="_blank"> Discord </a>

            <div class="showUserData"> ID: {{ userid }} &nbsp;&nbsp;&nbsp; ユーザー名: {{ username }}</div>
        </main>
    </body>
</html>