<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Jhonouchi PC Club | ホーム</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/allStyle.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyle.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <header>
                <div class="title">JPCC</div>
                <img class="img" src="static/img/header.png" width="250">
                <a class="btn" href="/login">ログイン</a>
        </header>

        <main>
            <p>内容だよ</p>
        </main>
    </body>
</html>