<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Jhonouchi PC Club | ログイン</title>
        <link rel="stylesheet" href="static/css/allStyle.css">
        <link rel="stylesheet" href="static/css/login_errorStyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <main>
            <p class="title"> エラー </p>
            <p class="content"> ユーザー名やパスワードは間違えていませんか？</p>
            <a class="return" href="login.html"> 戻る </a>
        </main>
    </body>
</html>