<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Jhonouchi PC Club | ログイン</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/allStyle.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_errorStyle.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/jpccicon.png')}}">
    </head>

    <body>
        <main>
            <p class="title"> エラー </p>
            <p class="content"> ユーザー名やパスワードは間違えていませんか？</p>
            <a class="return" href="/login"> 戻る </a>
        </main>
    </body>
</html>