
/**************** header ****************/
header {
    text-align: center;
    background: #4c93ff;
    height: 700px;
    padding-top: 50px;
}

.btn {
    display: block;
    text-align: center;
    margin: 70px auto 48px;

    background: #fff;
    color: #0066ff;
    
    width: 140px;
    line-height: 44px;

    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;

    text-decoration: none;

    transition: opacity 0.3s;

    box-shadow: rgb(49, 53, 54) 2px 2px 5px;
}
.btn:hover {
    opacity: 0.7;
}

header .title {
    font-family: serif, sans-serif;
    font-size: 70px;
    color: #fff;
}

header img {
    margin-top: 70px;
    pointer-events: none;
}

/**************** main ****************/


/**************** footer ****************/


@media (min-width: 900px) {
    /**************** header ****************/
    header {
        display: grid;
        height: 350px;

        /* grid */
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    header .title {
        position: relative;
        bottom: -50px;
        left: 100px;

        /* grid */
        grid-column: 1;
        grid-row: 1;
    }

    header img {
        margin: auto 50px auto 10px;

        /* grid */
        grid-column: 2;
        grid-row: 1;
    }

    header .btn {
        margin-top: 0;

        position: relative;
        top: -60px;
        left: 100px;

        height: 44px;

        /*text-shadowいる*/

        /* grid */
        grid-column: 1;
        grid-row: 2;
    }
}